/*Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết
*/

/* vị trí 
kích thước (width,height)
màu sắc
kiểu dáng*/
/*Common*/
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.column{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.column-3{
    width:33.33333%;
}

.column-2{
    width:50%;
}
.column-full{
    width: 100%;
}
.clear{
    clear: both; /*sửa float*/
}

.text-white{
    color:#FFF;
}
.pull-right{
    float:right !important;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1; /*làm nổi header so với phần dưới*/
    
}

#nav{
    display: inline-block;
}

#nav,.subnav{
    list-style-type: none;
}


#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a { /* là con trực tiếp mới được hưởng, con đời 2 không bị ảnh hưởng*/
    color: white;
    text-transform: uppercase;
}

#nav li a {
 text-decoration: none;
 line-height: 46px;
 padding: 0 24px;
 display: block; /*Vì khi di chuyển nó dính vào chữ*/
}
#nav li:hover .subnav{ /*di chuột vào thì hiện menu thứ 2, mạnh hơn thằng bên dưới*/
    display: block;
}
#nav .subnav li:hover a, /*Dùng chung với thằng ở dưới*/
#nav>li:hover>a{
    color:#000; /*Khi di chuột vào chữ sẽ đổi mùa từ trắng sang đen*/
    background-color: #CCC;/*Khi di chuột vào sẽ đổi back ground color của ô được chọn*/
}

#nav .subnav{ /*làm riêng cho menu 2*/
    display: none; /*không di thì mất*/
    min-width: 200px;
    top: 100%;
    left:0;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}
#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right:0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .mobile-menu-btn:hover{
    background-color: #CCC;
    cursor: pointer;/* di vào chuột biến thành bàn tay*/
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;/* di vào chuột biến thành bàn tay*/

}
#header .mobile-menu-btn:hover .menu-icon{
    Color: #000;
    font-size: 20px;
    line-height: 46px; /*kích thước giữa các dòng bằng kích thước header ở trên lên sẽ tự động nằm giữa*/
}
#header .menu-icon,
#header .search-icon{
    Color: white;
    font-size: 20px;
    line-height: 46px; /*kích thước giữa các dòng bằng kích thước header ở trên lên sẽ tự động nằm giữa*/
   
}

/*#header .mobile-menu-btn:hover{
    background-color: #CCC;
}*/

/*#header .mobile-menu-btn:hover .menu-icon{
   color: #000;
}*/

#slider{
    position: relative; 
   margin-top: 46px; /*vì khi dùng fixed header sẽ nổi lên chừa chỗ cho phần dưới chiếm chỗ thừa đó lên dùng margin để cố định vị trí ngay dưới header*/
   padding-top: 50%; /*50% chiều ngang của chính nó*/
   background-image: url('../img/chicago.jpg');
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
}

#slider .text-content{
    position: absolute;
    color: #FFF;
    bottom: 47px;
    /*left: 50%;
    transform: translateX(-50%);*/
    /*Cách dễ hơn*/
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px;
}
#content .content-section{
    width:800px;
    max-width: 100%;
    margin-left:auto; /* để auto thì sẽ auto ra giữa*/
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px; 
}

#content .section-subheading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6; /*độ mờ*/
}

#content .about{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify; /*định dạng đoạn văn*/
    line-height:1.4 ;
}
#content .section-heading,
#content .section-subheading{
    text-align:center;
}

#content .member-list{
    margin-top: 32px;
    overflow: hidden;
}

#content .member-item{
     text-align: center;
}

#content .member-name{
    font-size: 15px;
   
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
    opacity: 0.6; /*độ mờ*/
}

#content .tour-section{
    background-color: #000;
}

#content .ticket-list{
    background-color: #FFF;
    margin-top: 40px;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757577;
    list-style: none;
}

#content .ticket-list .Sold-out{
    background-color: #f44336;
    color:#fff;
    padding: 3px 4px;
    margin-left: 16px;
}

#content .ticket-list .Quanlity{
    float:right;
    width:24px;
    height:24px;
    background-color: #000;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top:-2px;
}
.place-list{
    margin-top:16px;
   
}

.place-img{
    width:100%;
    display: block; /* để phần dưới nó dính vào trên vì đang ở dạng inline lên phải đổi thành block*/
}

.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #FFF;
    padding: 16px;
    font-size: 15px;

}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
    

}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    background-color: #000;
    color:#FFF;
    text-decoration: none; /*Bỏ gạch chân*/
    padding: 11px 16px;
    display: inline-block; /*xử lý khi không chịu xuống*/
    margin-top: 18px;
    cursor: pointer;
}
.place-buy-btn:hover{
    color:#000;
    background-color: #CCC;
}
.map-section{
    margin-top: 64px;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social{
    font-size: 24px;
}

#footer .social a{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social a:hover{
    color: rgba(0,0,0,0.4);
}
#footer .copyright{
    color: rgba(0,0,0,0.6);
    margin-top: 15px;
}
#footer .copyright a{
    color: rgba(0,0,0,0.6);
}
.map-section img{ /*Muốn ảnh thay đổi theo kích thước phải thêm img vào sau tên class và độ rộng 100% sẽ bằng thẻ chứa nó*/
    width:100%;
}
.modal{
    position: fixed; /*tương quan với sự thay đổi cửa sổ của trình duyệt*/
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    position: relative;
    width: 900px;
    min-height: 200px;
    animation: modalFadein ease .4s ;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.ti-bag{
    margin-right: 16px;
}

.modal-close{
    right:0;
    top:0;
}
.ti-close{
    position: absolute;
    right:0;
    top:0;
    color: #FFF;
    padding: 16px;
}
.ti-close:hover{
    background-color: #000;
    cursor: pointer;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    height: 40px;
    padding: 10px;
    width: 100%;
    border: 1px solid #CCC;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    width: 100%;
    background-color: #009688;
    height: px;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
}
#buy-tickets:hover{
    opacity: 0.6;
    cursor: pointer;
}
.modal-footer{
    padding: 16px;
    text-align: right;
    
}

.modal-footer a{
    color:  #009688;
}

.modal-footer a:hover{
    opacity: 0.6;
}

@keyframes modalFadein {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.Contact-section{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;

}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 4px;
    border: 1px solid #CCC;
    width: 100%;
}

/*@media {

}
/*
    PC:>=1024px
    Tablet:>= 740px & < 1024px
    Mobile:<740px

*/
